<div id="checkout-content">
  <div class="box-header">
    <h3>Order review</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  </div>

  <div class="box-content">
    <div class="cart-items">
      <table class="styled-table">
        <thead>
          <tr>
            <th class="col_product text-left">Product</th>
            <th class="col_remove text-right">&nbsp;</th>
            <th class="col_qty text-right">Qty</th>
            <th class="col_single text-right">Single</th>
            <th class="col_discount text-right">Discount</th>
            <th class="col_total text-right">Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <app-order-review-item></app-order-review-item>
          </tr>
          <tr>
            <app-order-review-item></app-order-review-item>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <a href="payment-method.html" class="btn btn-sm pull-left">
      <i class="fa fa-chevron-left"></i> &nbsp; Payment method
    </a>

    <button type="submit" class="btn btn-primary pull-right">
      Create order and pay &nbsp; <i class="fa fa-check"></i>
    </button>
  </div>
</div>
