<div class="widget Categories">
  <h3 class="widget-title widget-title ">Categories</h3>
  <ul>
    <li>
      <a href='category.html' class="title">Mens</a>

      <ul>
        <li>
          <a href='category.html' class="title">T-Shirts</a>
        </li>
        <li>
          <a href='category.html' class="title">Jackets</a>
        </li>
        <li>
          <a href='category.html' class="title">Jumpers</a>
        </li>
        <li>
          <a href='category.html' class="title">Shoes</a>
        </li>
        <li>
          <a href='category.html' class="title">Shirts</a>
        </li>
        <li>
          <a href='category.html' class="title">Accessories</a>
        </li>
      </ul>
    </li>
    <li>
      <a href='category.html' class="title">Womens</a>
      <ul>
        <li>
          <a href='category.html' class="title">Shoes</a>
        </li>
        <li>
          <a href='category.html' class="title">Dresses</a>
        </li>
        <li>
          <a href='category.html' class="title">Bags</a>
        </li>
        <li>
          <a href='category.html' class="title">Trousers</a>
        </li>
        <li>
          <a href='category.html' class="title">Tops</a>
        </li>
        <li>
          <a href='category.html' class="title">Accessories</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
