<div id="checkout-content">
  <div class="box-header">
    <h3>Payment method</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  </div>

  <div class="box-content">
    <div class="payment-methods">
      <div class="row">
        <div class="col-sm-4">
          <div class="box highlight">
            <div class="hgroup title">
              <h3>Stripe</h3>
              <h5>Stripe makes it easy for developers to accept credit cards on the web.</h5>
            </div>

            <div class="box-content highlight clearfix">
              <input type="radio" value="1" name="shipping_option" id="option1" class="pull-right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box-footer">
    <a href="shipping-method.html" class="btn btn-sm pull-left">
      <i class="fa fa-chevron-left"></i> &nbsp; Shipping method
    </a>

    <button type="submit" class="btn btn-primary pull-right">
      Order review &nbsp; <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
