<section class="sky-form">
  <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
  <div class="row row1 scroll-pane">
    <div class="col col-4">
      <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Everyday</label>
    </div>
    <div class="col col-4">
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Dorothy Perkins</label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vero Moda </label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nidhi Munim</label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omana Fashion</label>
      <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>PrettySecrets</label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gold Medal</label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Dorothy Perkins</label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Vero Moda </label>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nidhi Munim</label>
    </div>
  </div>
</section>
