<div class="tab-pane" id="returns">
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  <p class="lead">For any unwanted goods La Boutique offers a <strong>21-day return policy</strong>.</p>
  <p>If you receive items from us that differ from what you have ordered, then you must notify us as soon as possible using
    our <a href="#">online contact form</a>.</p>
  <p>If you find that your items are faulty or damaged on arrival, then you are entitled to a repair, replacement or a refund.
    Please note that for some goods it may be disproportionately costly to repair, and so where this is the case, then we
    will give you a replacement or a refund.</p>
  <p>Please visit our <a href="#">Warranty section</a> for more details.</p>
</div>
