h5 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 0;
  color: #222;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid #dcdee0;
}

textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  height: 10em;
  resize: none;
  outline: none;
  border: 1px solid #dcdee0;
}

@media (max-width: 991px) {
  input[type="text"],
  textarea {
    padding: 5px 10px;
  }
  h5 {
    font-size: 0.95em;
  }
}
