<section class="cart">

  <div class="container">
    <div class="row" *ngIf="basket && basket.items.length > 0">

      <div class="col-sm-9">

        <div class="box">
          <form enctype="multipart/form-data" action="checkout-start.html" method="post">

            <div class="box-header">
              <h3>Basket</h3>
              <h5>You currently have <strong>{{basket.items.length}}</strong> item(s) in your basket</h5>
            </div>

            <div class="box-content">
              <div class="cart-items">
                <table class="shop_table cart styled-table" cellspacing="0">
                  <thead>
                    <tr>

                      <th class="product-thumbnail text-left">Product</th>
                      <th class="product-name text-left"></th>
                      <th class="product-remove text-right">&nbsp;</th>
                      <th class="product-price text-right">Price</th>
                      <th class="product-quantity text-right">Quantity</th>
                      <th class="product-subtotal text-right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of basket.items" class="cart_item">

                      <td data-title="Thumbnail" class="text-left product-thumbnail">
                        <div class="image">
                          <a [routerLink]="item.overview.url">
                            <img [src]="item.gallery.imageUrlBasket" [alt]="item.gallery.alt" class="attachment-shop_thumbnail">
                          </a>
                        </div>
                      </td>

                      <td data-title="Product" class="product-name text-left">
                        <a [routerLink]="item.overview.url">{{item.overview.title}}</a>
                      </td>

                      <td data-title="Remove" class="product-remove text-right">
                        <a (click)="removeFromBasket(item)" class="remove" title="Remove this item">
                          <i class="fa fa-trash fa-lg"></i></a>
                      </td>

                      <td data-title="Price" class="product-price text-right">
                        <span class="amount">£{{item.overview.price | number: '1.2-2'}}</span>
                      </td>

                      <td data-title="Quantity" class="product-quantity text-right">
                        <div class="quantity">
                          <input type="number" step="1" min="0" name="quantity" [(ngModel)]="item.quantity" title="Qty" class="input-text qty text" size="4">
                        </div>
                      </td>

                      <td data-title="Total" class="product-subtotal text-right">
                        <span class="amount">£{{item.overview.price * item.quantity | number: '1.2-2'}}</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

            <div class="box-footer cart-footer">
              <a routerLink="/l/" class="btn btn-sm pull-left">
                <i class="fa fa-chevron-left"></i> &nbsp; Continue shopping
              </a>
              <div class="pull-right">
                <button type="submit" name="checkout" value="1" class="btn btn-primary btn-sm">
                    Proceed to checkout &nbsp; <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Cart -->

      </div>

      <div class="col-sm-3">

        <!-- Cart details -->
        <div class="cart-details">
          <div class="box">
            <div class="hgroup title">
              <h3>Order totals</h3>
              <h5>Shipping costs and taxes will be evaluated during checkout</h5>
            </div>

            <ul class="price-list">
              <li>Subtotal: <strong>£247.98</strong></li>
              <li class="important">Total: <strong>£247.98</strong></li>
            </ul>
          </div>
        </div>
        <!-- End class="cart-details" -->

        <!-- Coupon -->
        <div class="coupon">
          <div class="box">
            <div class="hgroup title">
              <h3>Coupon code</h3>
              <h5>Enter your coupon here to redeem</h5>
            </div>

            <form enctype="multipart/form-data" action="#" method="post" onsubmit="return false;">

              <label for="coupon_code">Coupon code</label>
              <div class="input-group">
                <input id="coupon_code" value="" type="text" name="coupon" class="form-control" />
                <span class="input-group-addon btn">
                    <i class="fa fa-check"></i>
                </span>
              </div>

            </form>
          </div>
        </div>

      </div>

    </div>
    <div class="row" *ngIf="basket && basket.items.length === 0">
      <app-empty-basket></app-empty-basket>
    </div>
  </div>
</section>
