<div class="carousel carousel-main">
  <div class="carousel-cell">
    <img src="assets/si.jpg" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/si1.jpg" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/si2.jpg" alt="">
  </div>
</div>

<div class="carousel carousel-nav row">
  <div class="carousel-cell col-md-4">
    <img src="assets/si.jpg" alt="">
  </div>
  <div class="carousel-cell col-md-4">
    <img src="assets/si1.jpg" alt="">
  </div>
  <div class="carousel-cell col-md-4">
    <img src="assets/si2.jpg" alt="">
  </div>
</div>
