<div id="checkout-content">
  <div class="box-header">
    <h3>Shipping method</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
  </div>

  <div class="box-content">
    <div class="shipping-methods">
      <div class="row">
        <div class="col-sm-4">
          <div class="box highlight">
            <div class="hgroup title">
              <h3>Free shipping</h3>
              <h5>Delivered to your letterbox within 7-14 working days</h5>
            </div>

            <div class="box-content highlight clearfix">
              <div class="price pull-left">
                <strong>FREE!</strong>
              </div>

              <input type="radio" value="1" name="shipping_option" id="option1" class="pull-right">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box highlight">
            <div class="hgroup title">
              <h3>Standard</h3>
              <h5>Delivered to your letterbox within 5 working days</h5>
            </div>

            <div class="box-content highlight clearfix">
              <div class="price pull-left">
                <strong>£4.95</strong>
              </div>

              <input type="radio" value="2" name="shipping_option" id="option2" class="pull-right">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box highlight">
            <div class="hgroup title">
              <h3>Speedy</h3>
              <h5>Delivered to your letterbox within 3 working days</h5>
            </div>

            <div class="box-content highlight clearfix">
              <div class="price pull-left">
                <strong>£8.95</strong>
              </div>

              <input type="radio" value="3" name="shipping_option" id="option3" class="pull-right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="box-footer">
    <a routerLink="../shipping-address" class="btn btn-sm pull-left">
      <i class="fa fa-chevron-left"></i> &nbsp; Shipping address
    </a>

    <button type="submit" class="btn btn-primary pull-right">
      Payment method &nbsp; <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
