.product-model h2 {
  text-align: center;
  font-size: 2.5em;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 2em 0;
}

.fa.fa-minus-square {
    margin-right: 5px;
}

h4 {
  text-transform: uppercase;
  margin: 2em 0 0 0;
}

@media (max-width: 1080px) {
  .product-model h2 {
    font-size: 2em;
  }
}

@media (max-width: 991px) {
  .rsidebar {
    margin: 2em 0em 0% 0;
    width: 100%;
  }
  .product-model {
    h2 {
      font-size: 1.6em;
    }
  }
}

@media (max-width: 480px) {
  .product-model h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .product-model {
    padding: 2em 0;
  }
}

@media (max-width: 320px) {
  .product-model h2 {
    font-size: 1.3em;
  }
}