<div class="header">
  <app-header-top></app-header-top>

  <!-- Logo & Search bar -->
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-6">

          <!-- Logo -->
          <div class="logo">
            <a href="index.html" title="&larr; Back home">
              <img src="assets/logo.png" alt="La Boutique" />
            </a>
          </div>
          <!-- End class="logo"-->

        </div>
        <div class="col-sm-5 col-sm-offset-1 col-md-3">

          <!-- Search -->
          <div class="search">
            <div class="qs_s">
              <app-search-box></app-search-box>

              <!-- Autocomplete results -->
              <div id="autocomplete-results" style="display: none;">
                <ul>
                  <li>
                    <a title="Lisette Dress" href="product.html">
                      <div class="image">
                        <img src="assets/thumbnails/db_file_img_48_60x60.jpg" alt="" />
                      </div>
                      <h6>Lisette Dress</h6>
                    </a>
                  </li>
                  <li>
                    <a title="Malta Dress" href="product.html">
                      <div class="image">
                        <img src="assets/thumbnails/db_file_img_137_60x60.jpg" alt="" />
                      </div>
                      <h6>Malta Dress</h6>
                    </a>
                  </li>
                  <li>
                    <a title="Marais Dress" href="product.html">
                      <div class="image">
                        <img src="assets/thumbnails/db_file_img_42_60x60.jpg" alt="" />
                      </div>
                      <h6>Marais Dress</h6>
                    </a>
                  </li>
                  <li>
                    <a title="Millay Dress" href="product.html">
                      <div class="image">
                        <img src="assets/thumbnails/db_file_img_107_60x60.jpg" alt="" />
                      </div>
                      <h6>Millay Dress</h6>
                    </a>
                  </li>
                  <li>
                    <a title="Momoko Dress" href="product.html">
                      <div class="image">
                        <img src="assets/thumbnails/db_file_img_132_60x60.jpg" alt="" />
                      </div>
                      <h6>Momoko Dress</h6>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End id="autocomplete-results" -->

            </div>
          </div>
          <!-- End class="search"-->

        </div>

        <!-- Mini cart -->
        <div class="mini-cart">
          <a href="cart.html" title="Go to cart &rarr;">
            <span>3</span>
          </a>
        </div>
        <!-- End class="mini-cart" -->

      </div>
    </div>
  </div>
  <!-- End class="bottom" -->

</div>
