.login-page {
  padding: 6em 0;
}

.login-left {
  padding: 0;
}

.login-left p, .login-right p {
  color: #999;
  display: block;
  margin: 0 0 2em 0;
  line-height: 1.8em;
}

@media (max-width: 991px) {
  .login-page {
    padding: 4em 0;
  }
  .login-left {
    margin-bottom: 2em;
  }
  .login-right {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .login-page {
    padding: 2em 0;
  }
}