.item {
  display: block;
  position: relative;
  &:hover div.gallery-info {
    display: block;
  }
}

.gallery-info {
  position: absolute;
  width: 100%;
  display: none;
  background-color: rgba(25, 23, 23, 0.4);
  bottom: 0;
  padding: .5em 0;
}

.grid-item {
  position: relative;
  padding: 0 0.5em 2em;
  a {
    color: #000;
  }
  img {
    margin: 0 auto;
    border: 1px solid #eee;
    &:hover {
      border: 1px solid rgba(25, 23, 23, 0.4);
    }
  }
  .details {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}

.quick {
  text-align: center;
  p {
    color: #fff;
    text-transform: capitalize;
  }
}
