<div class="col-md-3 gallery-grid">
  <a href="products.html"><img src="/assets/g1.png" class="img-responsive" alt="" />
    <div class="gallery-info">
      <div class="quick">
        <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
      </div>
    </div>
  </a>
  <div class="galy-info">
    <p>Amour Women’s Amour...</p>
    <div class="galry">
      <div class="prices">
        <h5 class="item_price">$95.00</h5>
      </div>
      <app-rating></app-rating>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
