<td data-title="Order no." class="col_id">
  #5
</td>

<td data-title="Order date" class="col_date">
  03/12/2014
</td>

<td data-title="No. of items" class="col_count">
  8 <span class="hide-for-small">item(s)</span>
</td>

<td data-title="Order total" class="col_total">
  &pound;248.00
</td>

<td data-title="Status" class="col_status">
  <span class="label" style="background-color: #0099cc">New</span>
</td>

<td data-title="View" class="col_view text-right">
  <a class="btn btn-xs" href="#">View &nbsp;<i class="fa fa-chevron-right"></i></a>
</td>
