<div class="row">
  <div class="col-xs-12 col-md-2">
    <img src="assets/c3.jpg" class="img-responsive" alt="">
  </div>
  <div class="col-xs-12 col-md-5">
    <h2><a href="/single">Lorem Ipsum is not simply</a></h2>
    <p>Size: M</p>
    <p>Color: Blue</p>
    <p>Product Code: ABC 123 ZZZ</p>
    <a href="#" class="btn btn-secondary small">Remove</a>
  </div>
  <div class="col-xs-12 col-md-3">
    Quantity
    <input type="number" class="form-control input-small" min="1" max="100" maxlength="3" value="1">
    <a href="#" class="btn btn-primary small">Update</a>
  </div>
  <div class="col-xs-12 col-md-2">
    £40.00
  </div>
</div>
