.header-top {
  background-color: #000;
}

.top-right ul li {
  display: inline-block;
  border-right: 1px solid;
  padding: 1em 1em;
}

.top-right ul li:nth-child(1) {
  border-left: 1px solid;
}

.top-right ul li:nth-child(3) {
  border-right: none;
  width: 41%;
}

.top-right ul li a {
  font-size: 1em;
  text-transform: uppercase;
  color: #999;
  text-decoration: none;
}

.top-right ul li.text a {
  color: #fff;
}

.top-right {
  float: right;
}

@media(max-width:991px) {
  .top-right ul li a {
    font-size: 0.95em;
  }
}

@media(max-width:640px) {
  .top-right ul li a {
    font-size: 0.95em;
  }
  .top-right ul li {
    padding: 0.5em 1em;
  }
}

@media (max-width: 320px) {
  .top-right ul li a {
    font-size: 0.72em;
  }
  .top-right {
    float: right;
    width: 63%;
  }
  .top-right ul li {
    padding: 0.5em 0.5em;
  }
}
