<div class="content">
  <div class="container">
    <div class="login-page">
      <div class="account_grid">
        <div class="col-md-6 login-left">
          <h3>NEW CUSTOMERS</h3>
          <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple
            shipping addresses, view and track your orders in your account and more.</p>
          <a class="btn btn-primary" routerLink="./register">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
          <h3>REGISTERED CUSTOMERS</h3>
          <p>If you have an account with us, please log in.</p>
          <app-login-form></app-login-form>
        </div>
      </div>
    </div>
  </div>
</div>
