<div class="tab-pane" id="shipping">
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
  <p><img class="img-thumbnail" src="http://www.tfingi.com/repo/royal-mail.png" alt="" /><img class="img-thumbnail" src="http://www.tfingi.com/repo/ups-logo.png"
      alt="" /></p>
  <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  <h6><em class="fa fa-gift"></em> Giftwrap?</h6>
  <p>Let us take care of giftwrapping your presents by selecting <strong>Giftwrap</strong> in the order process. Eligible items
    can be giftwrapped for as little as &pound;0.99, and larger items may be presented in gift bags.</p>
</div>
