<section class="orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="box">
          <div class="box-header">
            <h3>Order history</h3>

            <h5>Check your order status, pay for your unpaid orders and more!</h5>
          </div>

          <div class="box-body">
            <table class="styled-table orders">
              <thead>
                <tr>
                  <th class="col_id">Order no.
                  </th>

                  <th class="col_date">Order date
                  </th>

                  <th class="col_count">No. of items
                  </th>

                  <th class="col_total">Order total
                  </th>

                  <th class="col_status">
                    Status</th>

                  <th class="col_view hide-for-small">
                    &nbsp;</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <app-order-history></app-order-history>
                </tr>
                <tr>
                  <app-order-history></app-order-history>
                </tr>
                <tr>
                  <app-order-history></app-order-history>
                </tr>
                <tr>
                  <app-order-history></app-order-history>
                </tr>
                <tr>
                  <app-order-history></app-order-history>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box">
          <div class="box-header">
            <h3>Order stats</h3>

            <h5>A few statistics about you</h5>
          </div>

          <div class="box-body">
            <ul class="price-list">
              <li>Customer since: <strong>01 January
                        2013</strong></li>

              <li>Total orders:
                <strong>5</strong></li>

              <li>Total items:
                <strong>19</strong></li>

              <li class="important">Total spend:
                <strong>&pound;749.84</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
