.cart.box_1 p {
  float: right;
  font-size: 0.8em;
  margin: 0.3em 0.3em 0;
  color: red !important;
}

a {
    font-size: 1em;
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
}

span.simpleCart_total {
  color: #fff;
}
