<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
    <h1 class="navbar-brand"><a href="index.html">swim wear</a></h1>
  </div>
  <!--/.navbar-header-->

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
        <ul class="dropdown-menu multi-column columns-3">
          <div class="row">
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Women</a></li>
                <li><a class="list1" href="products.html">PrettySecrets</a></li>
                <li><a class="list1" href="products.html">N-Gal</a></li>
                <li><a class="list1" href="products.html">Lobster</a></li>
                <li><a class="list1" href="products.html">Citypret</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Kids</a></li>
                <li><a class="list1" href="products.html">River Island</a></li>
                <li><a class="list1" href="products.html">Penny</a></li>
                <li><a class="list1" href="products.html">Nidhi Munim</a></li>
                <li><a class="list1" href="products.html">Divaat</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Men</a></li>
                <li><a class="list1" href="products.html">Fiesta Clara</a></li>
                <li><a class="list1" href="products.html">Quiksilver</a></li>
                <li><a class="list1" href="products.html">Incult</a></li>
                <li><a class="list1" href="products.html">Proline</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">women <b class="caret"></b></a>
        <ul class="dropdown-menu multi-column columns-3">
          <div class="row">
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Women</a></li>
                <li><a class="list1" href="products.html">PrettySecrets</a></li>
                <li><a class="list1" href="products.html">N-Gal</a></li>
                <li><a class="list1" href="products.html">Lobster</a></li>
                <li><a class="list1" href="products.html">Citypret</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Kids</a></li>
                <li><a class="list1" href="products.html">River Island</a></li>
                <li><a class="list1" href="products.html">Penny</a></li>
                <li><a class="list1" href="products.html">Nidhi Munim</a></li>
                <li><a class="list1" href="products.html">Divaat</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Men</a></li>
                <li><a class="list1" href="products.html">Fiesta Clara</a></li>
                <li><a class="list1" href="products.html">Quiksilver</a></li>
                <li><a class="list1" href="products.html">Incult</a></li>
                <li><a class="list1" href="products.html">Proline</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">kids <b class="caret"></b></a>
        <ul class="dropdown-menu multi-column columns-3">
          <div class="row">
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Women</a></li>
                <li><a class="list1" href="products.html">PrettySecrets</a></li>
                <li><a class="list1" href="products.html">N-Gal</a></li>
                <li><a class="list1" href="products.html">Lobster</a></li>
                <li><a class="list1" href="products.html">Citypret</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Kids</a></li>
                <li><a class="list1" href="products.html">River Island</a></li>
                <li><a class="list1" href="products.html">Penny</a></li>
                <li><a class="list1" href="products.html">Nidhi Munim</a></li>
                <li><a class="list1" href="products.html">Divaat</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="multi-column-dropdown">
                <li><a class="list" href="products.html">Men</a></li>
                <li><a class="list1" href="products.html">Fiesta Clara</a></li>
                <li><a class="list1" href="products.html">Quiksilver</a></li>
                <li><a class="list1" href="products.html">Incult</a></li>
                <li><a class="list1" href="products.html">Proline</a></li>
              </ul>
            </div>
          </div>
        </ul>
      </li>
      <li><a href="products.html">Top</a></li>
      <li><a href="products.html">Bikini</a></li>
    </ul>
  </div>
  <!--/.navbar-collapse-->
</nav>
