<div class="content">
  <div class="product-model">
    <div class="container">
      <h2>Our Products</h2>

      <div class="col-xs-12 col-md-3">
        <app-categories-filter></app-categories-filter>
        <app-discounts-filter></app-discounts-filter>
        <app-price-filter></app-price-filter>
        <app-brand-filter></app-brand-filter>
      </div>
      
      <div class="col-xs-12 col-md-9">
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
      </div>

    </div>
  </div>
</div>
