<div class="content">
  <div class="product-model">
    <div class="container">
      <h2>Our Products</h2>
      
      <div class="col-md-9 product-model-sec">
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
        <app-gallery-product></app-gallery-product>
      </div>

      <div class="rsidebar span_1_of_left">
        <app-categories-filter></app-categories-filter>
        <app-discounts-filter></app-discounts-filter>
        <app-price-filter></app-price-filter>
        <app-brand-filter></app-brand-filter>
      </div>

    </div>
  </div>
</div>
