<div class="content">
  <div class="container">
    <div class="col-xs-12 col-md-5 single-grid">
      <app-single-product-gallery></app-single-product-gallery>
    </div>
    <div class="col-xs-12 col-md-7 single-grid simpleCart_shelfItem">
      <h3>Obey Wasted Years Camo Zip Bandeau Bikini Top</h3>
      <p>Condition New With the boom of the swimwear market, there are so many places providing swimming costumes that you may
        not know where to look first. If you want to facilitate your search, drop in at our one-stop store, and you’ll be
        able to equip yourself properly for water activities.</p>
      <ul class="size">
        <h3>Size</h3>
        <li><a href="#">25</a></li>
        <li><a href="#">26</a></li>
        <li><a href="#">27</a></li>
        <li><a href="#">28</a></li>
        <li><a href="#">29</a></li>
        <li><a href="#">30</a></li>
        <li><a href="#">31</a></li>
        <li><a href="#">32</a></li>
        <li><a href="#">33</a></li>
      </ul>
      <ul class="size">
        <h3>Length</h3>
        <li><a href="#">32</a></li>
        <li><a href="#">34</a></li>
      </ul>
      <div class="galry">
        <div class="prices">
          <h5 class="item_price">$95.00</h5>
        </div>
        <app-rating></app-rating>
      </div>
      <p class="qty"> Qty : </p><input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small">
      <div class="btn_form">
        <a href="#" class="add-cart item_add">ADD TO CART</a>
      </div>
      <div class="tag">
        <p>Category : <a href="#"> Bikinis </a></p>
        <p>Tag : <a href="#"> Lorem ipsum </a></p>
      </div>
    </div>
  </div>
</div>
<div class="related-products">
  <div class="container">
    <h3>Related Products</h3>
    <div class="product-model-sec single-product-grids">
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
    </div>
  </div>
</div>
