<app-header></app-header>
<app-nav></app-nav>

<section class="main">
  <section class="product">

    <!-- Product info -->
    <section class="product-info">
      <div class="container">
        <div class="row">

          <div class="col-sm-4">
            <div class="product-images">
              <div class="box">
                <div class="primary">
                  <img src="assets/thumbnails/db_file_img_228_480xauto.jpg" data-zoom-image="assets/thumbnails/db_file_img_228_640xauto.jpg"
                    alt="Chaser Overalls" />
                </div>

                <div class="thumbs" id="gallery">
                  <ul class="thumbs-list">
                    <li>
                      <a class="active" href="#" data-image="assets/thumbnails/db_file_img_228_480xauto.jpg" title="Chaser Overalls" data-zoom-image="assets/thumbnails/db_file_img_228_640xauto.jpg">
                        <img src="assets/thumbnails/db_file_img_228_160xauto.jpg" alt="Chaser Overalls" />
                      </a>
                    </li>
                    <li>
                      <a href="#" data-image="assets/thumbnails/db_file_img_229_480xauto.jpg" title="Chaser Overalls" data-zoom-image="assets/thumbnails/db_file_img_229_640xauto.jpg">
                        <img src="assets/thumbnails/db_file_img_229_160xauto.jpg" alt="Chaser Overalls" />
                      </a>
                    </li>
                    <li>
                      <a href="#" data-image="assets/thumbnails/db_file_img_227_480xauto.jpg" title="Chaser Overalls" data-zoom-image="assets/thumbnails/db_file_img_227_640xauto.jpg">
                        <img src="assets/thumbnails/db_file_img_227_160xauto.jpg" alt="Chaser Overalls" />
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="social">
                  <div id="sharrre">
                    <div class="facebook"> </div>
                    <div class="twitter"> </div>
                    <div class="pinterest"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8">

            <!-- Product content -->
            <div class="product-content">
              <div class="box">

                <!-- Tab panels' navigation -->
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#product" data-toggle="tab">
                      <i class="fa fa-reorder fa-lg"></i>
                      <span class="hidden-xs">Product</span>
                    </a>
                  </li>
                  <li>
                    <a href="#description" data-toggle="tab">
                      <i class="fa fa-info-circle fa-lg"></i>
                      <span class="hidden-xs">Info</span>
                    </a>
                  </li>

                  <li>
                    <a href="#shipping" data-toggle="tab">
                      <i class="fa fa-truck fa-lg"></i>
                      <span class="hidden-xs">Shipping</span>
                    </a>
                  </li>

                  <li>
                    <a href="#returns" data-toggle="tab">
                      <i class="fa fa-undo fa-lg"></i>
                      <span class="hidden-xs">Returns</span>
                    </a>
                  </li>

                  <li>
                    <a href="#ratings" data-toggle="tab">
                      <i class="fa fa-heart fa-lg"></i>
                      <span class="hidden-xs">Ratings</span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="product">
                    <app-product-overview></app-product-overview>
                  </div>
                  <div class="tab-pane" id="description">
                    <app-product-info></app-product-info>
                  </div>
                  <div class="tab-pane" id="shipping">
                    <app-product-shipping></app-product-shipping>
                  </div>
                  <div class="tab-pane" id="returns">
                    <app-product-returns></app-product-returns>
                  </div>
                  <div class="tab-pane" id="ratings">
                    <app-product-ratings></app-product-ratings>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End class="product-info" -->

    <!-- Related products -->
    <section class="product-related">
      <div class="container">
        <div class="col-sm-12">

          <h5>Can't find what you're looking for? Why not try these&hellip;</h5>

          <ul class="product-list isotope">
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
          </ul>
        </div>
      </div>
    </section>
    <!-- End class="products-related" -->

    <!-- Added to cart modal window -->
    <div id="added" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="hgroup title">
              <h3>You're one step closer to owning this product!</h3>
              <h5>"Chaser Overalls" has been added to your basket</h5>
            </div>
          </div>
          <div class="modal-footer">
            <a routerLink="/basket" class="btn btn-primary btn-sm btn-block-xs">
              Go to basket &nbsp; <i class="fa fa-chevron-right"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End id="added" -->

  </section>
</section>
