<!-- Login / Register -->
<section class="login_register">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Login -->
        <div class="login">
          <div class="box">
            <app-login-form></app-login-form>
          </div>
        </div>
        <!-- End class="login" -->
      </div>

      <div class="col-sm-6">
        <!-- Register -->
        <div class="register">
          <div class="box">
            <div class="hgroup title">
              <h3>Want to Register?</h3>
              <h5>Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website.
                You'll also be able to track your orders with ease!</h5>
            </div>

            <div class="buttons">
              <a href="#" class="btn btn-sm btn-block-xs" data-toggle="modal" data-target="#register">
                Register now &nbsp; <i class="fa fa-chevron-right"></i>
            </a>
            </div>
          </div>
        </div>
        <!-- End class="register" -->
      </div>
    </div>
  </div>

  <!-- Register modal window -->
  <div id="register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <app-register-form></app-register-form>
      </div>
    </div>
  </div>
  <!-- End Register modal window -->

</section>
