<div class="banner-bottom">
  <div class="carousel text-center">
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
    <app-carousel-item></app-carousel-item>
  </div>
</div>
