<div class="banner-bottom">
  <div class="gallery-cursual">
    <!--requried-jsfiles-for owl-->
    <script src="js/owl.carousel.js"></script>
    <script>
      $(document).ready(function () {
        $("#owl-demo").owlCarousel({
          items: 3,
          lazyLoad: true,
          autoPlay: true,
          pagination: false,
        });
      });

    </script>
    <!--requried-jsfiles-for owl -->
    <!--start content-slider-->
    <div id="owl-demo" class="owl-carousel text-center">
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
      <app-carousel-item></app-carousel-item>
    </div>
    <!--sreen-gallery-cursual-->
  </div>
</div>
