<div class="container">
  <h1>Contact Us</h1>
  <app-map></app-map>
  <div class="contact-grids">
    <div class="col-xs-12 col-md-6">
      <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and
        1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied
        by English versions from the 1914 translation by H. Rackham.</p>
      <address>
        <p>The Company Name Inc.</p>
        <p>7899 St Vincent Place,</p>
        <p>Glasgow,Le 99 Pr 45.</p>
        <p>Telephone : +1 800 603 6035</p>
        <p>FAX : +1 800 889 9898</p>
        <p>E-mail : <a href="mailto:example@mail.com">example@mail.com</a></p>
      </address>
    </div>
    <div class="col-xs-12 col-md-6">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
