<div class="gallery">
  <div class="container">
    <h2>Featured products</h2>
    <div class="gallery-grids">
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
      <app-gallery-product></app-gallery-product>
    </div>
  </div>
</div>
