<section>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Upto - 10% (20)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>70% - 60% (5)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>50% - 40% (7)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (2)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (5)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
</section>
