.banner-section {
  text-align: center;
  padding-top: 2em;
}

.banner-grid {
  p {
    color: #777;
    margin: 1em auto 2em;
    line-height: 1.8em;
  }
  margin-top: 15em;
}

@media (max-width: 991px) {
  .banner-section {
    padding-top: 3em;
  }
  .banner-grid {
    float: left;
    width: 50%;
    margin-top: 10em;
  }
}

@media (max-width: 480px) {
  .banner-section {
    padding-top: 2em;
  }
  .banner-grid {
    width: 100%;
    margin-top: 3em;
  }
}

@media (max-width: 320px) {
  .banner-section {
    padding-top: 0em;
  }
  .banner-grid {
    margin-top: 1em;
    padding: 0;
  }
}