.banner-section {
  text-align: center;
  padding-top: 2em;
}

.banner-grid {
  h2 {
    font-size: 2.5em;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
  }
  p {
    font-size: 1em;
    color: #777;
    margin: 1em auto 2em;
    line-height: 1.8em;
  }
  margin-top: 15em;
}

@media (max-width: 1080px) {
  .banner-grid {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 0.96em;
    }
  }
}

@media (max-width: 991px) {
  .banner-section {
    padding-top: 3em;
  }
  .banner-grid {
    h2 {
      font-size: 1.6em;
    }
    float: left;
    width: 50%;
    margin-top: 10em;
  }
  .banner-grid1 {
    float: left;
    width: 50%;
  }
  .banner-grid {
    h1 {
      font-size: 1.8em;
    }
    p {
      font-size: 0.94em;
    }
  }
}

@media (max-width: 640px) {
  .banner-grid {
    h1, h2 {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 480px) {
  .banner-section {
    padding-top: 2em;
  }
  .banner-grid {
    width: 100%;
    margin-top: 3em;
  }
  .banner-grid1 {
    width: 100%;
    img {
      width: 65%;
      margin: 2em auto 0;
    }
  }
  .banner-grid p {
    font-size: 0.92em;
  }
}

@media (max-width: 320px) {
  .banner-section {
    padding-top: 0em;
  }
  .banner-grid {
    h2 {
      font-size: 1.3em;
    }
    p {
      font-size: 0.9em;
    }
    margin-top: 1em;
    padding: 0;
  }
}