<li class="standard" data-price="58">
  <a [routerLink]="" title="Lisette Dress">
    <div class="image">
      <img class="primary" src="assets/thumbnails/db_file_img_48_640xauto.jpg" alt="Lisette Dress" />
      <img class="secondary" src="assets/thumbnails/db_file_img_49_640xauto.jpg" alt="Lisette Dress" />
    </div>

    <div class="title">
      <div class="prices">
        <span class="price">£58.00</span>
      </div>
      <h3>Lisette Dress</h3>
      <div class="rating rating-4.5">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
      </div>
    </div>

  </a>
</li>
