<li *ngIf="product && product.overview" class="standard" [attr.data-price]="product.overview.price">
  <a [routerLink]="product.overview.url" [title]="product.overview.title">
    <div class="image" *ngIf="product.gallery">
      <img class="primary" [src]="product.gallery.imageUrlRegular" [alt]="product.gallery.alt" />
      <img class="secondary" [src]="product.gallery.imageUrlLarge" [alt]="product.gallery.alt" />
    </div>

    <div class="title">
      <div *ngIf="product.overview" class="prices">
        <span class="price">£{{product.overview.price}}</span>
      </div>
      <h3>{{product.overview.title}}</h3>
      <div class="rating rating-4.5">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
      </div>
    </div>

  </a>
</li>
