.register {
  padding: 6em 0;
}

.register-top-grid h3,
.register-bottom-grid h3 {
  color: #394c53;
  font-size: 1.2em;
  padding-bottom: 15px;
  margin: 0;
  font-weight: 600;
}

.register-top-grid div,
.register-bottom-grid div {
  width: 48%;
  float: left;
  margin: 10px 0;
}

.register-top-grid span,
.register-bottom-grid span {
  color: #999;
  font-size: 0.85em;
  padding-bottom: 0.2em;
  display: block;
  text-transform: uppercase;
}

.register-top-grid input[type="text"],
.register-bottom-grid input[type="text"] {
  border: 1px solid #555;
  outline-color: #FD9F3E;
  width: 96%;
  font-size: 1em;
  padding: 0.5em;
}

.news-letter {
  color: #555;
  font-weight: 600;
  font-size: 0.85em;
  margin-bottom: 1em;
  display: block;
  text-transform: uppercase;
  transition: 0.5s all;
  clear: both;
}

.news-letter:hover {
  color: #00BFF0;
}

.register-but {
  margin-top: 1em;
  form input[type="submit"] {
    border: 2px solid #000;
    color: #000;
    font-size: 1.2em;
    padding: 0.6em 2em;
    transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    background-color: #fff;
  }
  input[type="submit"]:hover {
    background: #000;
    color: #fff;
  }
}

div.register-bottom-grid {
  margin-top: 3em;
}

@media (max-width: 991px) {
  .register {
    padding: 4em 0;
  }
}

@media (max-width: 480px) {
  .register-top-grid h3,
  .register-bottom-grid h3 {
    font-size: 1em;
  }
  .register {
    padding: 2em 0;
  }
}

@media (max-width: 480px) {
  .register-but form input[type="submit"] {
    font-size: 0.9em;
  }
  .register-top-grid div,
  .register-bottom-grid div {
    width: 100%;
  }
}
