<section class="sky-form">
  <div class="product_right">
    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
    <div class="tab1">
      <ul class="place">
        <li class="sort">All Clothing</li>
        <li class="by"><img src="assets/do.png" alt=""></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="single-bottom">
        <a href="#">
          <p>Sports</p>
        </a>
        <a href="#">
          <p>Gym</p>
        </a>
        <a href="#">
          <p>Bikins</p>
        </a>
        <a href="#">
          <p>shorts</p>
        </a>
      </div>
    </div>
    <div class="tab2">
      <ul class="place">
        <li class="sort">All women Clothing</li>
        <li class="by"><img src="assets/do.png" alt=""></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="single-bottom">
        <a href="#">
          <p>Bikins</p>
        </a>
        <a href="#">
          <p>Shorts</p>
        </a>
      </div>
    </div>
    <div class="tab3">
      <ul class="place">
        <li class="sort">All Men Clothing</li>
        <li class="by"><img src="assets/do.png" alt=""></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="single-bottom">
        <a href="#">
          <p>Sports</p>
        </a>
      </div>
    </div>
    <div class="tab4">
      <ul class="place">
        <li class="sort">All Kids</li>
        <li class="by"><img src="assets/do.png" alt=""></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="single-bottom">
        <a href="#">
          <p>Standing Lamps</p>
        </a>
        <a href="#">
          <p>shorts</p>
        </a>
        <a href="#">
          <p>Bikini</p>
        </a>
      </div>
    </div>
  </div>
</section>
