<form enctype="multipart/form-data" action="#" onsubmit="return false;" method="post">

  <div class="details">
    <h1>Chaser Overalls</h1>
    <div class="prices"><span class="price">£92.00</span></div>

    <div class="meta">
      <div class="sku">
        <i class="fa fa-pencil"></i>
        <span rel="tooltip" title="SKU is 0092">0092</span>
      </div>

      <div class="categories">
        <span><i class="fa fa-tags"></i><a href="category.html" title="Dresses">Dresses</a></span>,
        <a href="category.html" title="Womens">Womens</a>
      </div>
    </div>
  </div>

  <div class="short-description">
    <p>Vintage-style faux leather short overalls. Long adjustable straps with brass detailing, exposed zip at back, and side
      slant pockets with single rear welt pocket.</p>
  </div>

  <div class="options">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">

          <label for="product_options" class="control-label">Leather</label>
          <div class="controls">
            <select id="product_options" name="product_options[]" class="form-control">
                  <option value="Brown">Brown</option>
                  <option value="Black" selected="selected">Black</option>
              </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-to-cart">
    <button class="btn btn-primary btn-lg btn-block-xs" data-toggle="modal" data-target="#added">
          <i class="fa fa-plus"></i> &nbsp; Add to basket
      </button>
  </div>
</form>
