<div *ngIf="overview">

  <div class="details">
    <h1>{{overview.title}}</h1>
    <div class="prices"><span class="price">{{overview.price | currency:'GBP':true}}</span></div>

    <div class="meta">
      <div class="sku">
        <i class="fa fa-pencil"></i>
        <span rel="tooltip">{{overview.sku}}</span>
      </div>

      <div class="categories">
        <span>
          <i class="fa fa-tags"></i>
        </span>
        <a *ngFor="let category of overview.categories" [href]="category.url" [title]="category.title">{{category.title}}</a>
      </div>
    </div>
  </div>

  <div class="short-description">
    <p>{{overview.description}}</p>
  </div>

  <div class="options" *ngIf="overview.options">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="product_options" class="control-label">{{overview.options.title}}</label>
          <div class="controls">
            <select id="product_options" name="product_options[]" class="form-control">
                <option *ngFor="let option of overview.options.options" [value]="option.value">{{option.description}}</option>
              </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-to-cart">
    <button class="btn btn-primary btn-lg btn-block-xs" data-toggle="modal" data-target="#added">
          <i class="fa fa-plus"></i> &nbsp; Add to basket
      </button>
  </div>
</div>
