<div *ngIf="category" class="children">
  <div class="box border-top">

    <div class="hgroup title">
      <h3>
        <a [routerLink]="category.url" [title]="category.name">{{category.name}}</a>
      </h3>
    </div>

    <div class="category-list list-group">
      <a *ngFor="let subCategory of category.subCategories" [routerLink]="subCategory.url" routerLinkActive="active" class="list-group-item" [title]="subCategory.name">
        {{subCategory.name}}
      </a>
    </div>
  </div>
</div>
