<div class="children">
  <div class="box border-top">

    <div class="hgroup title">
      <h3>
        <a href="category.html" title="Womens">Womens</a>
      </h3>
    </div>

    <div class="category-list list-group">
      <a href="category.html" class="list-group-item" title="Shoes">
        <span class="badge">3</span> Shoes
      </a>
      <a href="category.html" class="list-group-item active" title="Dresses">
        <span class="badge">11</span> Dresses
      </a>
      <a href="category.html" class="list-group-item" title="Bags">
        <span class="badge">2</span> Bags
      </a>
      <a href="category.html" class="list-group-item" title="Trousers">
        <span class="badge">7</span> Trousers
      </a>
      <a href="category.html" class="list-group-item" title="Tops">
        <span class="badge">8</span> Tops
      </a>
      <a href="category.html" class="list-group-item" title="Accessories">
        <span class="badge">0</span> Accessories
      </a>
    </div>
  </div>
</div>
