<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="support">
          <h6>Support</h6>

          <ul class="links">
            <li>
              <a href="typography.html" title="Typography" class="title">Typography</a>
            </li>
            <li>
              <a href="retina-ready-icons.html" title="Retina-ready icons" class="title">Retina-ready icons</a>
            </li>
            <li>
              <a href="buttons.html" title="Buttons" class="title">Buttons</a>
            </li>
            <li>
              <a href="elements.html" title="Elements" class="title">Elements</a>
            </li>
            <li>
              <a href="grids.html" title="Grids" class="title">Grids</a>
            </li>
            <li>
              <a href="store-locator.html" title="Store locator" class="title">Store locator</a>
            </li>
            <li>
              <a href="contact-us.html" title="Contact us" class="title">Contact us</a>
            </li>
          </ul>
        </div>
        <!-- End class="support" -->

      </div>

      <div class="col-sm-2">

        <!-- Categories -->
        <div class="categories">
          <h6>Shop</h6>

          <ul class="links">
            <li>
              <a href="category.html" title="Women">Women</a>
            </li>
            <li>
              <a href="category.html" title="Men">Men</a>
            </li>
            <li>
              <a href="category.html" title="Girls">Girls</a>
            </li>
            <li>
              <a href="category.html" title="Boys">Boys</a>
            </li>
            <li>
              <a href="category.html" title="Sale"><strong>Sale</strong></a>
            </li>
          </ul>
        </div>
        <!-- End class="categories" -->
      </div>

      <div class="col-md-4">
        <div class="confidence">
          <h6>Pay with confidence</h6>

          <img src="assets/stripe.png" alt="We accept all major credit cards" />
        </div>
      </div>

      <div class="col-sm-4">
        <!-- Social icons -->
        <div class="social">
          <h6>Socialize with us</h6>
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </div>
  </div>
</div>
