.footer-section {
  padding: 4em 0;
}

ul li {
  list-style: none;
  a {
    &:hover {
      color: #000;
    }
    font-size: 0.9em;
    text-decoration: none;
    line-height: 2em;
    color: #B7B4B4;
    list-style: none;
    text-transform: capitalize;
  }
}

.footer-grid1 p {
  a {
    color: #B7B4B4;
    margin-left: 6px;
  }
  font-size: 0.9em;
  color: #B7B4B4;
  line-height: 1.8em;
}

.social-icons {
  margin-bottom: 1em;
  a i {
    &:hover {
      opacity: .5;
    }
    background: url(/assets/img-sprite.png) no-repeat 0px 0px;
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: 320px;
    margin: 0 3px;
  }
  i .icon {
    background-position: 0px 0px;
  }
  a i {
    &.icon1 {
      background-position: -22px 0px;
    }
    &.icon2 {
      background-position: -44px 0px;
    }
    &.icon3 {
      background-position: -66px 0px;
    }
    &.icon4 {
      background-position: -88px 0px;
    }
    &.icon5 {
      background-position: -110px 0px;
    }
  }
}

@media (max-width: 991px) {
  .footer-section {
    padding: 3em 0;
  }
}

@media (max-width: 640px) {
  .footer-grid1,
  .footer-grid {
    margin-top: 1em;
  }
}

@media (max-width: 480px) {
  .footer-section {
    padding: 2em 0;
  }
}

@media (max-width: 320px) {
  .footer-section {
    padding: 1em 0;
  }
}
